    html,
    body {
        height: 100%;
        width: 100%;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .header {
        padding-top: 1.5rem;
        padding-left: 5rem;
        height: 7rem;
        font-family: franklin-gothic-condensed, sans-serif;
        letter-spacing: 0.1rem;
    }
    
    .footer {
        height: 10rem;
    }
    /* mainsection */
    
    .container {
        /* border: solid 1px red; */
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 6rem;
    }
    
    .blur,
    p {
        position: absolute;
        font-family: franklin-gothic-condensed, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 120px;
        color: #333;
        width: 553px;
        height: 476px;
        letter-spacing: 2.25px;
        line-height: 104px;
        background-color: rgba(239, 234, 226, 0.5);
        backdrop-filter: blur(5.5px);
        -webkit-backdrop-filter: blur(5.5px);
    }
    
    p {
        margin: 0;
        background-color: transparent;
        backdrop-filter: none;
    }
    
    .blankline {
        width: 100%;
        height: 21px;
    }
    /* boxes */
    
    .title.fullscreen {
        z-index: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .title,
    .p1 {
        padding: 40px 30px 0px;
        top: 18%;
        left: 38%;
        text-align: right;
        z-index: -1;
    }
    
    .p1 {
        z-index: 1;
    }
    
    .p2 {
        z-index: -2;
    }
    
    .author,
    .p2 {
        padding: 10px 30px 40px;
        top: 10%;
        left: 29%;
        text-align: left;
        z-index: -3;
    }
    
    .p3 {
        z-index: -4;
    }
    
    .box1,
    .p3 {
        padding: 40px 40px 0px;
        top: 18%;
        left: 23%;
        font-size: 18px;
        letter-spacing: 0.34px;
        line-height: 21px;
        letter-spacing: 0.34px;
        text-align: left;
        z-index: -5;
    }
    
    .p4 {
        z-index: -6;
    }
    
    .box2,
    .p4 {
        height: 520px;
        padding: 60px 40px;
        top: 26%;
        left: 45%;
        font-size: 18px;
        letter-spacing: 0.34px;
        line-height: 21px;
        letter-spacing: 0.34px;
        text-align: left;
        z-index: -7;
    }
    
    .p5 {
        z-index: -8;
    }
    
    .box3,
    .p5 {
        height: 747px;
        padding: 80px 36px 84px;
        top: -3%;
        left: 34%;
        font-size: 18px;
        letter-spacing: 0.34px;
        line-height: 21px;
        letter-spacing: 0.34px;
        z-index: -9;
    }
    
    .p6 {
        z-index: -10;
    }
    
    .box4,
    .p6 {
        height: 393px;
        padding: 44px 36px;
        top: 8%;
        left: 38%;
        font-size: 18px;
        letter-spacing: 0.34px;
        line-height: 21px;
        letter-spacing: 0.34px;
        z-index: -11;
    }
    
    .p7 {
        z-index: -12;
    }
    
    .box5,
    .p7 {
        height: 515px;
        padding: 58px 36px;
        top: 40%;
        left: 25%;
        font-size: 18px;
        letter-spacing: 0.34px;
        line-height: 21px;
        letter-spacing: 0.34px;
        z-index: -12;
    }
    
    .p8 {
        z-index: -13;
    }
    
    .box6,
    .p8 {
        height: 568px;
        padding: 63px 36px;
        top: 10%;
        left: 15%;
        font-size: 18px;
        letter-spacing: 0.34px;
        line-height: 21px;
        letter-spacing: 0.34px;
        z-index: -14;
    }
    
    .p9 {
        z-index: -15;
    }
    
    .box7,
    .p9 {
        height: 680px;
        padding: 76px 36px;
        top: 14%;
        left: 40%;
        font-size: 18px;
        letter-spacing: 0.34px;
        line-height: 21px;
        letter-spacing: 0.34px;
        z-index: -16;
    }
    
    .p10 {
        z-index: -17;
    }
    
    .box8,
    .p10 {
        height: 462px;
        padding: 52px 36px;
        top: 1%;
        left: 28%;
        font-size: 18px;
        letter-spacing: 0.34px;
        line-height: 21px;
        letter-spacing: 0.34px;
        z-index: -18;
    }
    
    .p11 {
        z-index: -19;
    }
    
    .box9,
    .p11 {
        height: 357px;
        padding: 40px 36px;
        top: 14%;
        left: 28%;
        font-size: 18px;
        letter-spacing: 0.34px;
        line-height: 21px;
        letter-spacing: 0.34px;
        z-index: -20;
    }
    
    .p12 {
        z-index: -21;
    }
    
    .box10,
    .p12 {
        height: 357px;
        padding: 40px 36px;
        top: -8%;
        left: 43%;
        font-size: 18px;
        letter-spacing: 0.34px;
        line-height: 21px;
        letter-spacing: 0.34px;
        z-index: -22;
    }