    html,
    body {
        height: 100vh;
        width: 100%;
        font-family: franklin-gothic-condensed, sans-serif;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .header {
        height: 12vh;
        letter-spacing: 0.1rem;
        padding-top: 1rem;
        padding-left: 5rem;
    }
    /* mainsection */
    
    .container {
        height: 88vh;
        position: relative;
        width: 100%;
    }
    
    .blur,
    p {
        background-color: rgba(239, 234, 226, 0.5);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(8px);
        color: #333;
        position: absolute;
        font-weight: 600;
        font-style: normal;
        font-size: 96px;
        height: 381px;
        letter-spacing: 1.8px;
        line-height: 83.2px;
        width: 443px;
    }
    
    p {
        background-color: transparent;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        margin: 0;
    }
    /* boxes */
    
    .box1,
    .p1 {
        left: 40%;
        padding: 28px 20px 0px;
        top: 18%;
        text-align: right;
        z-index: 34;
    }
    
    .box1.fullscreen {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 35;
    }
    
    .p1 {
        z-index: 36;
    }
    
    .box2,
    .p2 {
        left: 31%;
        padding: 24px 42px 24px 30px;
        top: 10%;
        text-align: left;
        z-index: 31;
    }
    
    .box2.fullscreen {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 32;
    }
    
    .p2 {
        z-index: 33;
    }
    
    .box3,
    .p3 {
        font-size: 15px;
        height: 360px;
        left: 27%;
        letter-spacing: 0.27px;
        line-height: 16.8px;
        padding: 40px 27px;
        top: 18%;
        z-index: 28;
    }
    
    .box3.fullscreen {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 29;
    }
    
    .p3 {
        z-index: 30;
    }
    
    .box4,
    .p4 {
        font-size: 15px;
        height: 416px;
        left: 46%;
        letter-spacing: 0.27px;
        line-height: 16.8px;
        padding: 46px 29px;
        top: 26%;
        z-index: 25;
    }
    
    .box4.fullscreen {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 26;
    }
    
    .p4 {
        z-index: 27;
    }
    
    .box5,
    .p5 {
        font-size: 15px;
        height: 582px;
        letter-spacing: 0.27px;
        line-height: 16.8px;
        left: 34%;
        padding: 66px 28px 66px;
        top: 0%;
        z-index: 22;
    }
    
    .box5.fullscreen {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 23;
    }
    
    .p5 {
        z-index: 24;
    }
    
    .box6,
    .p6 {
        font-size: 15px;
        height: 315px;
        left: 34%;
        letter-spacing: 0.27px;
        line-height: 16.8px;
        padding: 35px 29px;
        top: 8%;
        z-index: 19;
    }
    
    .box6.fullscreen {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 20;
    }
    
    .p6 {
        z-index: 21;
    }
    
    .box7,
    .p7 {
        font-size: 15px;
        height: 410px;
        left: 27%;
        letter-spacing: 0.27px;
        line-height: 16.8px;
        padding: 45px 29px 47px;
        top: 32%;
        z-index: 16;
    }
    
    .box7.fullscreen {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 17;
    }
    
    .p7 {
        z-index: 18;
    }
    
    .box8,
    .p8 {
        font-size: 15px;
        height: 440px;
        left: 22%;
        letter-spacing: 0.27px;
        line-height: 16.8px;
        padding: 51px 29px;
        top: 13%;
        z-index: 13;
    }
    
    .box8.fullscreen {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 14;
    }
    
    .p8 {
        z-index: 15;
    }
    
    .box9,
    .p9 {
        font-size: 15px;
        height: 544px;
        left: 44%;
        letter-spacing: 0.27px;
        line-height: 16.8px;
        padding: 60px 29px 62px;
        top: 8%;
        z-index: 10;
    }
    
    .box9.fullscreen {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
    }
    
    .p9 {
        z-index: 12;
    }
    
    .box10,
    .p10 {
        font-size: 15px;
        height: 370px;
        left: 27%;
        letter-spacing: 0.27px;
        line-height: 16.8px;
        padding: 40px 29px 42px;
        top: 4%;
        z-index: 7;
    }
    
    .box10.fullscreen {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 8;
    }
    
    .p10 {
        z-index: 9;
    }
    
    .box11,
    .p11 {
        font-size: 15px;
        height: 286px;
        left: 32%;
        letter-spacing: 0.27px;
        line-height: 16.8px;
        padding: 31px 29px 22px;
        top: 8%;
        z-index: 4;
    }
    
    .box11.fullscreen {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
    }
    
    .p11 {
        z-index: 6;
    }
    
    .box12,
    .p12 {
        font-size: 15px;
        height: 286px;
        left: 42%;
        letter-spacing: 0.27px;
        line-height: 16.8px;
        padding: 32px 27px;
        top: -4%;
        z-index: 1;
    }
    
    .box12.fullscreen {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
    
    .p12 {
        z-index: 3;
    }
    
    .button {
        font-size: 50px;
        height: 210px;
        width: 400px;
        top: 40%;
        left: 50%;
        padding-top: 60px;
        text-align: center;
        z-index: 0;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    /* media_query */
    
    @media only screen and (max-width: 768px) {
        .header {
            font-size: 1.5rem;
            height: 10rem;
            padding-top: 1rem;
        }
        .box1,
        .p1 {
            top: 18%;
            left: 25%;
        }
        .box2,
        .p2 {
            top: 10%;
            left: 16%;
        }
        .box3,
        .p3 {
            top: 18%;
            left: 12%;
        }
        .box4,
        .p4 {
            top: 26%;
            left: 31%;
        }
        .box5,
        .p5 {
            top: 0%;
            left: 19%;
        }
        .box6,
        .p6 {
            top: 8%;
            left: 19%;
        }
        .box7,
        .p7 {
            top: 32%;
            left: 12%;
        }
        .box8,
        .p8 {
            top: 13%;
            left: 7%;
        }
        .box9,
        .p9 {
            top: 8%;
            left: 29%;
        }
        .box10,
        .p10 {
            top: 4%;
            left: 12%;
        }
        .box11,
        .p11 {
            top: 8%;
            left: 17%;
        }
        .box12,
        .p12 {
            top: -4%;
            left: 27%;
        }
    }
    
    @media only screen and (max-width: 414px) {
        .header {
            padding-top: 1rem;
            padding-left: 2rem;
            height: 5rem;
            letter-spacing: 0.1rem;
            font-size: 0.7rem;
        }
        .box1,
        .p1 {
            font-size: 60px;
            width: 264px;
            height: 335px;
            top: 33%;
            left: 20%;
            letter-spacing: 1.25px;
            line-height: 50px;
        }
        .p1 {
            padding: 0px;
            top: 43%;
            left: 17%;
        }
        .box2,
        .p2 {
            font-size: 60px;
            width: 250px;
            height: 304.6px;
            padding: 122px 12px 0px 23;
            top: 26%;
            left: 8%;
            letter-spacing: 1.25px;
            line-height: 50px;
        }
        .p3,
        .p4,
        .p5,
        .p6,
        .p7,
        .p8,
        .p9,
        .p10,
        .p11,
        .p12 {
            font-size: 13px;
        }
        .box3,
        .p3 {
            width: 264px;
            height: 458px;
            padding: 19px 12px 9px 17px;
            top: 28%;
            left: 15%;
            line-height: 17px;
            letter-spacing: 0.2px;
        }
        .box4,
        .p4 {
            width: 272px;
            height: 489px;
            padding: 16px 16px 10px;
            top: 18%;
            left: 15%;
            letter-spacing: 0.2px;
            line-height: 17px;
        }
        .box5,
        .p5 {
            width: 318px;
            height: 635px;
            padding: 19px 10px 0px 18px;
            top: 0%;
            left: 9%;
            letter-spacing: 0.2px;
            line-height: 17px;
        }
        .box6,
        .p6 {
            width: 240px;
            height: 440px;
            padding: 18px 16px 11px;
            top: 30%;
            left: 15%;
            letter-spacing: 0.2px;
            line-height: 17px;
        }
        .box7,
        .p7 {
            width: 240px;
            height: 542px;
            padding: 18px 16px 5px;
            top: 10%;
            left: 8%;
            letter-spacing: 0.2px;
            line-height: 17px;
        }
        .box8,
        .p8 {
            width: 251px;
            height: 592px;
            padding: 9px 11px 20px 16px;
            top: 20%;
            left: 7%;
            letter-spacing: 0.2px;
            line-height: 17px;
        }
        .box9,
        .p9 {
            width: 286px;
            height: 570px;
            padding: 12px 16px 16px 14px;
            top: 5%;
            left: 15%;
            letter-spacing: 0.2px;
            line-height: 17px;
        }
        .box10,
        .p10 {
            width: 252px;
            height: 491px;
            padding: 18px 12px 8px 16px;
            top: 20%;
            left: 7%;
            letter-spacing: 0.2px;
            line-height: 17px;
        }
        .box11,
        .p11 {
            width: 240px;
            height: 428px;
            padding: 23px 15px 8px 16px;
            top: 35%;
            left: 15%;
            letter-spacing: 0.2px;
            line-height: 17px;
        }
        .box12,
        .p12 {
            width: 240px;
            height: 410px;
            padding: 13px 15px 18px 16px;
            top: 26%;
            left: 7%;
            letter-spacing: 0.2px;
            line-height: 17px;
        }
        .button {
            width: 240px;
            height: 120px;
            padding-top: 20px;
            top: 40%;
            left: 50%;
            text-align: center;
            font-size: 50px;
            z-index: 0;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
        }
        .footer {
            height: 50px;
        }
    }