html,
body {
    height: 100%;
    width: 100%;
}

.container {
    display: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-bottom: 5rem;
    padding-top: 0%;
}

.blur {
    position: relative;
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 120px;
    color: #333;
    width: 553px;
    height: 476px;
    letter-spacing: 2.25px;
    line-height: 104px;
    background-color: rgba(239, 234, 226, 0.3);
    backdrop-filter: blur(10px);
}

.box1 {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    z-index: 3;
}

.box2 {
    margin-top: -530px;
    margin-left: 350px;
    text-align: left;
    z-index: 2;
}

.box3 {
    margin-top: -300px;
    margin-left: 500px;
    font-size: 18px;
    letter-spacing: 0.34px;
    line-height: 21px;
    text-align: left;
    z-index: 1;
}